$lightTextColor: #ffffff;
$darkTextColor: #333333;
$backgroundColor: #f7cac9;
$accentColor: #92a8d1;
$cartBackgroundColor: #ffecec;
$inventoryBackgroundColor: #eceeff;
$potionBackgroundColor: #ffecec;
